.navbar {
  display: flex;
  margin: 0.5% auto;
  max-width: 60%;
  justify-content: end;
  font-family: "JetBrains Mono NL", monospace;
  font-size: large;
  font-weight: normal;
  align-items: right;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.split {
  height: 70%;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 30%;
  left: 0;
  background-color: #009688;
}

.right {
  width: 70%
  right: 0;
  background-color: #37474f;
}

.navbar-links li {
  margin-left: 3.5rem;
  padding: 0.8rem;
  border-radius: 8px;
}

.navbar-links li:hover {
  transform: scale(1.1);
}

.selected {
  background-color: darkcyan; /* Color of the selected item */
}

.navbar-links a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
}

.coolPara {
  /* padding-left: 800px; */
  padding-top: 80px;
  margin-right: 10%;
  margin-left: 40%;
  font-size: 18px;
  font-weight: lighter;
  color: whitesmoke;
  font-family: "JetBrains Mono NL", monospace;
}

@media only screen and (max-width: 600px) {
  
  .navbar {
    display: none;
  };

  .styleMenu {
    display: flex;

  }
}
