.navbar {
  display: flex;
  margin: 0.5% auto;
  max-width: 70%;
  justify-content: right;
  font-family: "JetBrains Mono NL", monospace;
  font-size: large;
  font-weight: normal;
  padding-left: 27px;
  padding-right: 100px;
  align-items: right;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.navbar-links li {
  margin-left: 3.5rem;
  padding: 0.8rem;
  border-radius: 8px;
}

.navbar-links li:hover {
  transform: scale(1.1);
}

.selected {
  background-color: darkcyan; /* Color of the selected item */
}

.navbar-links a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
}

.coolPara {
  padding-left: 800px;
  padding-top: 100px;
  margin-right: 10%;
  font-size: 20px;
  color: whitesmoke;
  font-family: "JetBrains Mono NL", monospace;
}

@media only screen and (max-width: 600px) {
  
  .navbar {
    display: none;
  };

  .styleMenu {
    display: flex;

  }
}
